<% provide(:title, "About") %>
  <h1>About page</h1>
  <marquee><h3>Hello !!, I am Ankur responding in about page</h3></marquee>

  <p> I am creating the about page for the template that require for to complete the test action successfully</p>
